PORT=8547
UPSTREAM_RPC_URLS=https://ethereum-sepolia-rpc.publicnode.com,https://eth-sepolia-testnet.api.pocket.network
REQUEST_TIMEOUT_MS=10000

# On-chain logging (disabled by default)
QUERY_LOG_ENABLED=false
QUERY_LOG_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
QUERY_LOG_PRIVATE_KEY=0xYOUR_PROXY_LOGGER_PRIVATE_KEY
QUERY_LOG_CONTRACT_ADDRESS=0xYOUR_PRIVATE_QUERY_LOG_CONTRACT
QUERY_LOG_CONFIRMATIONS=0
QUERY_LOG_METHODS=eth_sendRawTransaction,eth_getTransactionReceipt,eth_getTransactionCount
QUERY_LOG_FLUSH_MS=5000
QUERY_LOG_BATCH_MAX=20
