VITE_RPC_URL=https://rpc.cloakline.xyz/sepolia
VITE_CHAIN_NAME=Sepolia via Cloakline
VITE_CHAIN_ID=11155111
VITE_CURRENCY_NAME=Sepolia Ether
VITE_CURRENCY_SYMBOL=ETH
VITE_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
VITE_RPC_PLACEHOLDER=true
